<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pods Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Pods Information for Deployment: {{ deployment_name }}</h1>
    <table>
        <tr>
            <th>Pod Name</th>
            <th>CPU Usage</th>
            <th>Memory Usage</th>
        </tr>
        {% if pods %}
            {% for pod in pods %}
                <tr>
                    <td>{{ pod.name }}</td>
                    <td>{{ pod.cpu_usage }}</td>
                    <td>{{ pod.memory_usage }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No pods found for this deployment.</td>
            </tr>
        {% endif %}
    </table>
   <a href="/">Close</a>
</body>
</html>
