body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #444;
    font-size: 2em;
}

h2 {
    background: #0056b3;
    color: #fff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1em;
}

pre {
    background: #f4f4f4;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
    white-space: pre-wrap; /* Allows the text to wrap within the box */
    word-wrap: break-word; /* Prevents long words from overflowing */
    font-size: 1.2em; /* Increased font size */
    line-height: 1.6; /* Increased line height for better readability */
}

pre:hover {
    background: #e8e8e8;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #003d80;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0056b3;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 1em;
}
a {
    display: block;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a:hover {
    background-color: #0056b3;
}
