<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='show.css') }}">

</head>
<body>
    <h1>Student Details</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>USN</th>
            <th>Semester</th>
            <th>Section</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.usn }}</td>
            <td>{{ student.sem }}</td>
            <td>{{ student.section }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back to Home</a>
</body>
</html>