<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubernetes Metrics Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Kubernetes Cluster Health</h1>
        <ul class="options-list">
            <li><a href="/nodes">Cluster Nodes INFO</a></li>
            <li><a href="/pods">Cluster Pods INFO</a></li>
        </ul>
    </div>
</body>
</html>
