<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kubernetes Deployments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='scale.css') }}">
</head>
<body>
    <h1>DB Application Scaler</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Namespace</th>
            <th>CPU Limits</th>
            <th>Memory Limits</th>
            <th>Actions</th>
        </tr>
        {% for deployment in deployments %}
        <tr>
            <td>{{ deployment.metadata.name }}</td>
            <td>{{ deployment.metadata.namespace }}</td>
            <td>{{ deployment.spec.template.spec.containers[0].resources.limits.get('cpu', 'Not Set') if deployment.spec.template.spec.containers[0].resources.limits else 'Not Set' }}</td>
            <td>{{ deployment.spec.template.spec.containers[0].resources.limits.get('memory', 'Not Set') if deployment.spec.template.spec.containers[0].resources.limits else 'Not Set' }}</td>
            <td><a href="{{ url_for('edit', namespace=deployment.metadata.namespace, name=deployment.metadata.name) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('db_app') }}" class="back-button">Back</a>
</body>
</html>